<div class="column-layout group">
  <igx-grid #grid [data]="tasksWebApiApiTasks" primaryKey="taskId" displayDensity="cosy" cellSelection="multiple" 
    [rowEditable]="true" [moving]="true" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid"
    
    (rowAdded)="rowAdded($event)"
    (rowDeleted)="rowDeleted($event)"
    (rowEditDone)="rowEdited($event)"
    
    >
    <igx-grid-toolbar>
      <igx-grid-toolbar-actions>
        <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
        <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
        <igx-grid-toolbar-exporter></igx-grid-toolbar-exporter>
        <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
      </igx-grid-toolbar-actions>
      <igx-grid-toolbar-title>Grid Toolbar</igx-grid-toolbar-title>
    </igx-grid-toolbar>
    <igx-column header="taskId" field="taskId" dataType="number" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="false" [filterable]="true" title="taskId"></igx-column>
    <igx-column header="taskName" field="taskName" dataType="string" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [filterable]="true" title="taskName"></igx-column>
    <igx-column header="dateAdded" field="dateAdded" dataType="date" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="false" [filterable]="true" title="dateAdded"></igx-column>
    <igx-column header="dateUpdated" field="dateUpdated" dataType="date" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [filterable]="true" title="dateUpdated"></igx-column>
    <igx-column header="dateDue" field="dateDue" dataType="date" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [filterable]="true" title="dateDue"></igx-column>
    <igx-column header="projectId" field="projectId" dataType="number" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [filterable]="true" title="projectId"></igx-column>
    <igx-column header="assignedToEmail" field="assignedToEmail" dataType="string" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [filterable]="true" title="assignedToEmail"></igx-column>
    <igx-column header="priority" field="priority" dataType="number" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [filterable]="true" title="priority"></igx-column>
    <igx-action-strip>
      <igx-grid-pinning-actions></igx-grid-pinning-actions>
      <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
    </igx-action-strip>
  </igx-grid>
  <igx-snackbar #snackbar [outlet]='grid'></igx-snackbar>
</div>
